:root {
    --color-primary: #ffb900;
    --color-primary-darker: #EEAC04;
    --color-primary-darkest: #9E7203;
    --color-primary-lighter: #FFE7A4;
    --color-secondary: #004b50;
    --color-tertiary: lightgrey;
    --color-teach: #5c005c;
    --color-log: #00188f;
    --color-botchat-grey: #dbdee1;
    --gutter-width: 100px;
    --nav-link-padding: 1.5em 2em;
}
.blis-app {
    display: grid;
    grid-template: min-content 1fr / var(--gutter-width) 1fr var(--gutter-width)
}
.blis-app_header-placeholder {
    background-color: var(--color-secondary)
}
.blis-app_header {
    background-color: var(--color-secondary)
}
.blis-app_content {
    grid-column: 2;
    padding: 2em 0;
}
.blis-app_modals {
    grid-row: 3;
    grid-column: 2;
}

.blis-header {
    display: grid;
    grid-template-columns: 1fr min-content;
    color: white;
    font-size: 1.2rem;
}
.blis-header a {
    padding: var(--nav-link-padding);
}
.blis-header_links {
    display: flex;
    flex-direction: row;
}
.blis-header_links a {
    text-decoration: none;
    color: white;
}
.blis-header_links a:link,
.blis-header_links a:visisted {
    color: white;
}
.blis-header_links a.active,
.blis-header_links a:hover {
    background-color: var(--color-primary);
    color: black;
}
.blis-header_user {
    text-decoration: none;
    color: white;
}
.blis-header_user:hover {
    background-color: var(--color-primary);
    color: black;
}

.blis-modal-buttons {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-gap: 1em;
}
.blis-buttons-row, /* TODO: This was one-off for EntityExtractor. Doesn't really comply to BEM but is temporary solution */
.blis-modal-buttons_primary,
.blis-modal-buttons_secondary {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0.75em;
    grid-auto-columns: min-content;
    white-space: nowrap;
}