.cl-input {
    padding: 0.475em 0.5em;
    margin-right: 0.5em;
    border: 1px solid #a6a6a6;
    color: rgb(51,51,51);
}
.cl-input:hover:not(:disabled) {
    border-color: var(--color-neutralDark);
}
.cl-input:focus {
    border-color: var(--color-themePrimary);
}

.cl-input-warning {
    padding: 0.5em 0;
}

.cl-settings__bot-port {
    display: grid;
    grid-gap: 1em;
}