.cl-input {
    padding: 0.5em;
    border: 1px solid #a6a6a6;
    color: rgb(51,51,51);
}
.cl-input:hover {
    border-color: #212121;
}
.cl-input:focus {
    border-color: #0078d7;
}

.cl-input-warning {
    padding: 0.5em 0;
}