.blis-app-page {
    display: grid;
    grid-template-columns: minmax(220px, min-content) 1fr;
    grid-gap: 3rem;
}
.blis-app-title {
    padding-bottom: 0.9rem;
}

.blis-page {
    display: grid;
    grid-gap: 1rem;
    grid-auto-rows: min-content;
}

.blis-nav_section {
    border-top: 1px solid lightgrey;
    padding: 0.5rem 0;
    color: grey;
}
.blis-nav_section:last-of-type {
    border-bottom: 1px solid lightgrey;
}
.blis-nav_section * {
    color: grey !important;
}
.blis-nav_section *:hover {
    color: lightgrey !important;
    cursor: pointer !important;
}
.blis-nav-section .ms-Nav-groupContent {
    margin-bottom: 0 !important;
}
/* TODO: Why was above style not working? */
.ms-Nav-groupContent {
    margin-bottom: 0 !important;
}

.blis-nav-links *{
  color: gray !important;
}
.blis-nav-links *:hover{
  color: lightgrey !important;
}

.blis-nav-links * {
    margin-left: -.1em !important;
    margin: 0 0 0 0;
}

.blis-nav-link {
    display: block;
    padding: 0.5em 0;
}
.blis-nav-link:link,
.blis-nav-link:visited {
    color: grey;
}
.blis-nav-link.active,
.blis-nav-link:hover {
    color: rgba(0,0,0,0.8);
}
.blis-nav-link.active {
    font-weight: bold;
}

