.cl-action-creator--expected-entities .ms-TagItem-text--highlight {
    background-color: var(--color-successBackground);
}
.cl-action-creator--disqualifying-entities .ms-TagItem-text--highlight {
    background-color: var(--color-successBackground);
}

.cl-action-creator-fieldset {
    display: grid;
    grid-gap: 1em;
}

.cl-action-creator-form {
    display: grid;
    grid-gap: 0.5em;
}

.cl-actioncreator-form-section {
    margin-top: 1em;
}