.cl-action-creator--expected-entity .ms-TagItem-text--highlight {
    background-color: var(--color-successBackground);
}
.cl-action-creator--disqualifying-entities .ms-TagItem-text--highlight {
    background-color: var(--color-successBackground);
}

.cl-action-creator-file-picker {
    display: grid;
    grid-template: auto / min-content 1fr;
    grid-gap: 1em;
}

.cl-action-creator-file-button {
    white-space: nowrap;
}

.cl-action-creator-fieldset {
    display: grid;
    grid-gap: 1em;
}

.cl-action-creator-form {
    display: grid;
    grid-gap: 0.5em;
}

.cl-action-creator-form-section {
    margin-top: 1em;
}