.cl-action-creator--expected-entity .ms-TagItem-text--highlight {
    background-color: var(--color-successBackground);
}
.cl-action-creator--disqualifying-entities .ms-TagItem-text--highlight {
    background-color: var(--color-successBackground);
}

.cl-action-creator-fieldset {
    display: grid;
    grid-gap: 1em;
}

.cl-action-creator-form {
    display: grid;
    grid-gap: 0.5em;
}

.cl-tag-item-suggestion--add-condition {
    background-color: white;
    width: 100%;
}