.cl-inconsistent-entity-modal-header {
    padding: 1em 0 0.5em 0;
}
.cl-inconsistent-entity-modal-header [data-icon-name] {
    transform: translateY(2px);
}
.cl-inconsistent-entity-modal-editor {
    padding-bottom: 0.5em;
}