
 .cl-init-state-block {
    margin-top: 10px;
    padding-left: 1em;
    padding-right: 1em;
    border-top-color: var(--color-neutralTertiaryAlt);
    border-top-width: 1px;
    border-top-style: solid;
}

.cl-init-state-fields {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 1em 0;
}

