.wc-disable{
    width: 100%;
    height: 100%;
    opacity: 0.09;
    background-color: #000000;
}

.teachVariation{
    overflow: hidden;
}

.teachDeleteVariation {
    font-size: 18px;
    float: right;
    position: relative;
    margin-left: 3px;
}

.teachAddVariation{
    overflow: hidden;
    opacity: 0.7;
}

.teachEmptyMemory
{
    font-style: italic;
}

.teachAutoMask
{
    width: 100%;
    height: 100%;
    opacity: 0.19;
    background-color: #000000;
    position: absolute;
    z-index: 1000;
    visibility: visible !important
}
