.blis-training-status-inline {
    margin-left: 2em;
    color: var(--color-neutralTertiary);
}
.blis-training-status-inline__button {
    color: var(--color-themePrimary);
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
    cursor: pointer;
}
.blis-training-status-inline__button:hover {
    text-decoration: underline;
}