.cl-dialog-tags {
    display: grid;
    grid-template: auto / max-content 1fr;
    grid-gap: 0.25em 0.5em;
}

/* .cl-dialog-field {
    display: grid;
    grid-template: auto / max-content 1fr;
    grid-gap: 0.5rem;
} */

.cl-dialog-tags label {
    display: grid;
    grid-template: auto / max-content 1fr;
    grid-gap: 0.5rem;
    align-items: center;
}

/* Special to align header */
.cl-dialog-tags label[for="description"] {
    padding: 0.225em 0;
}

