/*
  PRIMARY: #004b50
  SECONDARY: #ffb900
  TERTIARY: #
*/

.app{
  width: 100%;
  height: 100%;
}
.header{
   height: 8%;
   width: 100%;
   background-color: #004b50;
}
.headerTitleDiv{
  height: 100%;
  width: 50%;
  display: inline-block;
}
.headerListDiv{
  height: 100%;
  width: 44%;
  margin-left: 5%;
  display: inline-block;
}
.headerLink{
  text-decoration: none;
  color: white;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.headerElementDiv{
  height: 100%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width:17%;
}
.teachSessionHeaderButton{
  margin: 20px;
}
.teachSessionScoreButton{
  margin: 0px;
  float: right;
}
.selectedHeaderElementDiv{
  height: 100%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width:17%;
  background-color: #ffb900 !important;
}
.selectedHeaderElementDiv *{
  color:black !important;
}
.headerTitle{
  height: 100%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 13%;
  margin-left: 60%;
}
.headerElementDiv:hover, .headerTitle:hover{ 
    background-color: #ffb900;
}
.headerElementDiv:hover *{ 
    color: black;
}
.headerTitle:hover *{ 
    color: black;
}
.dummyContent *{
  position: relative;
  float: left;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #004b50;
}
.content{
  margin-left: 5%;
  margin-top: 2%;
}
.myAppsHeaderContentBlock{
  display: block;
  margin-bottom: 1%;
}
.goldButton:hover {
  border: 1px solid #004b50;
}
.goldButton{
  background-color: #ffb900 !important;
  color: black !important;
  padding: 0em 2em !important;
}
.goldButton *{
  color: black !important;
}
.grayButton:hover {
  border: 1px solid #004b50;
}
.grayButton{
  background-color: lightgrey !important;
  color:black !important;
  padding: 0em 2em !important;
}
.trainingGroundArena{
  width: 80%;
  margin-left: 5%;
  display: inline-block;
  vertical-align: top;
}
.trainingGroundNavigationArea{
  width: 14%;
  display: inline-block;
  vertical-align: top;
}
.orangeButton:hover {
  border: 1px solid #a80000;
}
.orangeButton{
  background-color: #ea4300 !important;
  color: black !important;
  padding: 0em 2em !important;
}
.orangeButton *{
  color: black !important;
}
.blis-action {
  border: none;
  background: none;
  padding: 0.3em 0.2em 0.2em 0.2em;
  margin: 0;
  cursor: ponter;
}
.tgNavDiv{
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  height: 13.5em;
}
.trainingGroundNav *{
  color: gray !important;
  margin-left: -.1em !important;
}
.trainingGroundNav *:hover{
  color: lightgrey !important;
}
.tgSettingsDiv{
  border-top: 1px solid lightgrey;
  margin-top: 1em;
  color: gray;
  padding: .5em 0em;
}
.backToApps{
  color: gray !important;
  text-decoration: none;
  margin-top: 1.2em;
  font-size: 14px !important;
}
.backToAppsIcon{
  text-decoration: none;
  color:gray;
  font-size: 14px;
}
.tgbackToAppsDiv *:hover, .tgSettingsDiv *:hover {
  color: lightgrey !important;
  cursor: pointer !important;
}
.trainingGroundHeaderContent{
  display:block;
  margin-bottom: .5em;
}
.trainingGroundArenaHeader, .entityCreator, .actionResponseCreator{
  display: block;
  margin-bottom: 1em;
}
.checkIcon{
  color: green;
  font-size: 20px;
}
.notFoundIcon{
  color: lightgrey;
  font-size: 18px
}
.modalHeader{
  display: block;
  text-align: center;
  padding: 1em;
}
.modalFooter{
  margin-top: 1.5em;
}
.createModal{
  border: 2px solid #004b50;
  width: 40%;
  padding: 1em;
  position: relative
}
.spinnerBox
{
    width: 500px;
    height: 500px;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    position: relative
}
.container{
  height: 100%;
}
.emulatorDisplay{
  background: #323232;
  border: 2px solid #ffb900;
  height: 99.5%;
  margin-top: -2.2%;
  width:80.7%;
  margin-left: 5%;
  display: inline-block;
  vertical-align: top;
}
.webchatContainer *{
  position: relative;
  float: left;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fluidCont{
  height: 91.5%;
}
.ms-Icon--Delete:hover, .ms-Icon--Edit:hover{
  cursor: pointer;
}
.emulatorContent{
  margin-left: 5%;
  margin-top: 2%;
  height: 100%;
}
.entityMatch
{
    flex-shrink: 1;
    background: #e0ffe0;
    margin: 1px;
    display: inline-block;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 4px;
    text-align: center;
}
.entityMismatch
{
    flex-shrink: 1;
    background: #ffe0e0;
    margin: 1px;
    display: inline-block;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 4px;
    text-align: center;
}

.goldText{
  color: #ffb900
}
.actionSelect{
  color: #ffb900;
  font-size: 24px;
}
.actionUnavailable{
  color: #cc0000;
  font-size: 24px;
}
.actionCreatorCreateEntityButton {
  float: right;
}
.saveAppChangesButtonsDiv{
  width: 100%;
  display: block;
  margin-top: 1em;
} 
.wc-gridWebchat{
  grid-column: 1;
  grid-row: 1;
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 400px;
}
.wc-gridAdmin{
  display: inline-block;
  vertical-align: top;
  position: relative;
  grid-column: 2;
  grid-row: 1;
  border-style: none none none solid;
  border-width: 1px;
  border-color: #999999;
  width: 100%;
}
.wc-gridAdminContent{
  display: block;
  padding-right: 20px;
  overflow-y: auto;
  height: calc(100% - 90px);
  margin-bottom: 10px;
}
.wc-gridFooter{
  grid-column: 2;
  grid-row: 2;
  background-color: #004b50;
  display: block;
  position: absolute;
  bottom: 0;
  z-index: 2000;
  width: 100%;
}
.wc-gridContainer{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 400px minmax(min-content, 1fr);
  grid-template-rows: auto 60px;
}
.wc-disable{
  width: 100%;
  height: 100%;
  opacity: 0.09;
  background-color: #000000;
}
.toggleTrainDialog{
  background-color: #323232 !important;
  padding: 0em 2em !important;
  display: block !important;
  margin-top: 20em;
}
.toggleTrainDialogForward{
  height: 99.8%;
  border-left: 1px solid #ffb900;
  display: inline-block;
  vertical-align: top;
}
.toggleTrainDialogBack{
  border-right: 1px solid #ffb900;
  height: 99.8%;
  display: inline-block;
  vertical-align: top;
}
.toggleTrainDialog *{
  color: #ffb900 !important;
}
.textFieldInlineButtonDiv{
  display: block;
}
.textFieldWithButton{
  display: inline-block;
  width: 85%;
}
.buttonWithTextField{
  display: inline-block;
  float: right;
  margin-top: -.1em
}
.webchat, .sessionAdmin{
  display: inline-block;
  vertical-align: top;
  padding: 0px;
}
.sessionAdmin{
  width: 67%;
}
.teachBody{
  width: 100%;
  height: 92%;
}
.teachSessionModeContainer{
  height: 100%;
  display: block;
  width: 100%;
  margin-top: 0px;
}
.teachSessionWindow{
  width: 100%
}
.teachVariationBox{
  margin-top: 5px;
  margin-left: 10px;
}
.teachVariation{
  overflow: hidden;
}
.teachDeleteVariation {
  font-size: 18px;
  float: right;
  position: relative;
  margin-left: 3px;
}
.teachAddVariation{
  overflow: hidden;
  opacity: 0.7;
}
.teachVariationButton {
  float: right;
  height: 50px !important;
  font-size: 8px !important;
}
.teachModal{
  width: 90%;
  height: 90%;
}
.teachEmptyMemory
{
  font-style: italic;
  margin: 10px 10px 10px 20px;
}
.teachAuto
{
  color: #ffffff;
  margin: 30px 20px 20px 20px !important;
  float: right;
}
.teachAutoMask
{
  width: 100%;
  height: 100%;
  opacity: 0.19;
  background-color: #000000;
  position: absolute;
  z-index: 1000;
  visibility: visible !important
}
.abandonTeach{
  float: right;
}
.fakeInputDiv{
  display: inline-block;
  vertical-align: top;
  float: right;
}
.fakeInputDiv *{
  margin-left: 1em;
  display: inline-block;
  vertical-align: top;
}
.fakeInputText *{
  width: 25em !important;
}
.teachSessionFullMode{
  width: 100%;
  height: 100%;
}
.teachSessionHalfMode{
  width: 49.5%;
  height: 100%;
}
.teachTitleBox{
  display: inline-block;
  margin-top: 15px;
  font-weight: bold;
  border-width: 0px 0px 1px 0px;
  border-color: #333333;
  border-style: solid;
  width: 100%
}
.teachTitle{
  float: left;
  font-weight: bold;
}
.teachCreateButton { 
  float: right;
  height: 30px !important;
}
.extractorResponseBox{
    border-style: solid;
    border-width: 1px;
    border-color: #999999;
    padding: 10px;
    margin-bottom: 10px;
}
.extractorResponseBoxInvalid{
  border-style: solid;
  border-width: 1px;
  border-color: #ff0000;
}
.webchatwindow{
  height: 550px !important;
  width: 400px !important;
  bottom: 0;
  position: absolute;
}
.extractDiv:hover{
  cursor: pointer
}
.autoCompleteListItem{
  border-top: 1px solid lightgrey;
  color: #004b50;
  padding: .25em;
  padding-left: 1em;
}
.autoCompleteListItem:hover{
  border-top: 1px solid #004b50;
  padding: .25em;
  padding-left: 1em;
  background-color: #004b50;
  color: white;
  cursor: pointer;
}

.modal {
}
.modal--large {
  width: 90%;
  height: 90%;
}

.modal > * {
  padding: 1em;
}

.log-dialog {
  display: grid;
  grid-template-columns: 1fr min-content / 1fr 1fr;
}
.log-dialog__webchat {

}
.log-dialog__admin {

}
.log-dialog__controls {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 2
}
