body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

}
html {
    padding: 0;
    height: 100%;
    width: 100%;
}

* {
  box-sizing: border-box;
}
.blis-button--right {
  float: right;
}
.blis-button--widemargin {
  margin: 20px;
}
.blis-button--hidden {
  width: 1px;
  height: 1px;
  opacity: 0.0;
}

.blis-button--viewCard {
  margin-right: 10px;
  border-radius: 20px;
  padding: 0px !important;
  float: right;
  min-width: 32px !important;
}

.blis-wc-disabled {
  pointer-events: none;
}

.blis-callout {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  color: #333333;
  padding: 18px 24px 12px;
  font-weight: 300;
  max-width: 300px;
}

.blis-errorpanel {
  background-color: #FDE7E9;
  padding: 5px
}

.blis-action {
  border: none;
  background: none;
  padding: 0.3em 0.2em 0.2em 0.2em;
  margin: 0;
  cursor: pointer;
}

.blis-icon--spin {
  animation-name: blis-icon-spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes blis-icon-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.blis-icon[data-icon-name="CheckMark"] {
  color: green;
  font-size: 20px;
}
.blis-icon[data-icon-name="Remove"]{
  color: lightgrey;
  font-size: 18px
}

.blis-icon[data-icon-name="Info"] {
  font-size: 12px;
  margin-left: 8px;
  color: var(--color-wc-user);
}

.blis-icon[data-icon-name="ChevronUp"] {
  font-size: 12px;
  margin-right: 8px;
  color: var(--color-wc-user);
}

.blis-icon[data-icon-name="ChevronDown"] {
  font-size: 12px;
  margin-right: 8px;
  color: var(--color-wc-user);
}
.blis-icon[data-icon-name="Delete"] {
  font-size: 16px;
  vertical-align: middle;
}

.blis-label{
  display: inline-block !important;
}


.blis-label--padded {
  margin-left: 20px;
  margin-right: 20px;
}

.blis-link {
  color: var(--color-wc-user);
}

i[data-icon-name="Delete"]:hover, i[data-icon-name="Edit"]:hover{
  cursor: pointer;
}

.blis-tip.ms-Checkbox{
  display: inline-block;
}


.blis-font--emphasis 
{
  font-weight: bold;
  color: #000000;
}
.blis-font--deleted
{
  text-decoration: line-through;
}
.blis-font--action {
  color: var(--color-blue);
}

.blis-font--warning {
  background-color: #FDE7E9;
  margin: 5px;
  padding: 0.25em 0.5em;
}

.blis-font--preserve {
  white-space: pre-wrap;
}

.blis-wc-message {
  border-radius: 2px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  padding: 8px;
  word-break: break-word;
}
.blis-wc-message--user {
  background-color: var(--color-wc-user);
  color: #ffffff;
}

.blis-wc-message--bot {
  background-color: var(--color-wc-bot);
  color: #000000;
}

/* botframework-webchat component override */
.wc-chatview-panel:focus {
  outline: 0;
}

.blis-overlay{
  width: 100%;
  height: 100%;
  opacity: 0.09;
  background-color: #000000;
}

/** New CSS using BEM to eventually replace above */

/** Modals */

.blis-modal {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.blis-modal.blis-modal--teach {
  grid-template-rows: 1fr min-content;
  /* border-top: 8px solid var(--color-magentaDark); */
}

.blis-modal.blis-modal--log {
  grid-template-rows: 1fr min-content;
  /* border-top: 8px solid var(--color-blueMid); */
}

.blis-modal.blis-modal--wide {
  width: 80%;
  grid-row-gap: 2em;
  padding: 1em;
}

.blis-modal.blis-modal--large {
  width: 90%;
  height: 90%;
}

/** Matches width of webchat **/
.blis-modal.blis-modal--narrow {
  width: 50%;
  height: 90%;
}
@media (min-width: 701px) and (max-width: 800px) {
  .blis-modal.blis-modal--narrow {
    width: 65%;
  }
}
@media (max-width: 700px) {
  .blis-modal.blis-modal--narrow {
    width: 80%;
  }
}

.blis-modal.blis-modal--medium{
  width: 60%;
  height: 70%;
  /* TODO: Remove padding here, it should be the content inside that decides padding, otherwise all modals should have padding */
  padding: 1em;
}
@media (max-width: 600px) {
  .blis-modal.blis-modal--medium {
    width: 90%;
  }
}
@media (max-height: 700px) {
  .blis-modal.blis-modal--medium {
    height: 90%;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  .blis-modal.blis-modal--medium {
    width: 75%;
  }
}
@media (min-height: 701px) and (max-height: 800px) {
  .blis-modal.blis-modal--medium {
    height: 80%;
  }
}

@media (min-width: 1201px) {
  .blis-modal.blis-modal--medium {
    width: 50%;
  }
}

.blis-modal.blis-modal--small{
  width: 50%;
  /* TODO: Remove padding here, it should be the content inside that decides padding, otherwise all modals should have padding */
  padding: 1em;
}
@media (max-width: 600px) {
  .blis-modal.blis-modal--small {
    width: 80%;
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  .blis-modal.blis-modal--small {
    width: 70%;
  }
}

@media (min-width: 801px) and (max-width: 1200px) {
  .blis-modal.blis-modal--small {
    width: 60%;
  }
}

@media (min-width: 1400px) {
  .blis-modal.blis-modal--small {
    width: 40%;
  }
}

.blis-modal_header {
  display: block;
  text-align: center;
  padding: 1em;
}


.blis-modal_subheader {
  display: block;
  text-align: center;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

.blis-underline {
  border-bottom: 1px solid black;
}

.blis-modal_body {
  position: relative;
  overflow-y: auto;
}
.blis-modal_body > * {
  position: absolute;
  width: 100%;
}

.blis-modal_footer {
  padding-top: 1em;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.blis-modal.blis-modal--teach .blis-modal_footer {
  padding: 1em;
  /* background-color: var(--color-magentaDark); */
}

.blis-modal.blis-modal--log .blis-modal_footer{
  padding: 1em;
  /* background-color: var(--color-blueMid); */
}

.blis-dialog-title i[role="presentation"] {
  margin-right: 0.5em;
  vertical-align: sub;
}
.blis-dropdownWithButton-dropdown {
  display: grid;
  grid-template: auto / 1fr auto auto;
  grid-auto-columns: min-content;
  grid-gap: 0.1em;
}

.blis-dropdownWithButton-button {
  width: 30px !important;
  min-width: 30px !important;
  align-self: end;
}

.blis-command-bar {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.blis-spinner
{
    width: 500px;
    height: 500px;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    position: relative;
}

.blis-chatmodal {
  height: 100%;
  display: grid;
  grid-template-columns: 400px 1fr;
}
.blis-chatmodal_webchat {
  position: relative;
}
.blis-chatmodal_controls {
  border-left: 1px solid var(--color-botchat-grey);
  display: grid;
  grid-template-rows: 1fr min-content;
  /* This could causing clipping of the entity picker menu. Tried to mitigate by making menu stay within boundary of parent but it's not as ideal */
  overflow-x: auto;
}
.blis-chatmodal_admin-controls {
  padding: 1em;
}

.blis-sessionmodal {
  height: 100%;
  display: grid;
  grid-template-rows: min-content auto;
}
.blis-sessionmodal-title {
  padding: 1rem;
}

/** Office UI Fabric Theme Overrides */
.ms-List-cell {
  min-height: 0px !important;
}

.ms-Pivot {
  margin-bottom: 1.5em !important;
}

.ms-TagItem {
  flex-shrink: 1;
  background: #f4f4f4;
  margin: 1px;
  height: 26px;
  line-height: 26px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  max-width: 300px;
}

.ms-TagItem-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 30px;
  margin: 0 8px;
}

.ms-TagItem-text--strike {
  text-decoration: line-through;
}

.ms-TagItem-text--highlight {
  background-color: var(--color-themeLighter);
}

.ms-TagItem-close {
  cursor: pointer;
  color: #666666;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 30px;
  height: 100%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

/**
 Should not use margins on components, this is external affect based on usage but the component should not know where it's used
 the parents should define the spacing responsibilities of children, otherwise chil */
/* .ms-Button {
  margin-right: 5px;
}
*/

.ms-Button--primary.is-disabled, .ms-Button--primary:disabled {
  background-color: var(--color-yellow-lighter) !important;
}

/** TODO: Remove usage of !important */
.ms-Button--primary:not(:disabled) {
  background-color: var(--color-yellow) !important;
  color: black !important;
}
.ms-Button--primary:not(:disabled):hover {
  background-color: var(--color-yellow-darker) !important;
}
.ms-Button--primary:not(:disabled):focus {
  border: 1px solid var(--color-yellow-darkest);
  box-sizing: border-box
}


/** Log Dialog Admin */
.blis-dialog-admin {
  display: grid;
  grid-gap: 0.8em;
}
.blis-dialog-admin__content {
  display: grid;
  grid-gap: 1rem;
}

.blis-dialog-admin-title {
  font-weight: bold;
  padding: 0.5rem 0;
  border-bottom: 1px solid rgba(0,0,0,0.25);
}

.blis-dialog-admin-chosen-action {
  padding: 1em 0;
  font-weight: bold
}
/** TODO: Remove after find better pattern for consumers */
.blis-dialog-creation-buttons {
  text-align: right;
  padding-bottom: 0.5em;
}

/** Scorer Classes */
.blis-action-icon {
  font-size: 24px;
}
.blis-action-icon.i[data-icon-name="ChromeClose"] {
  color: #cc0000;
}
.blis-action-icon.i[data-icon-name="CompletedSolid"] {
  color: #ffb900;
}
.blis-action-icon.i[data-icon-name="Remove"] {
    color: lightgrey;
    font-size: 18px
}

.table-cell {
  font-family: Segoe UI WestEuropean,Segoe UI,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 15px;
}

.blis-entity {
  flex-shrink: 1;
  margin: 1px;
  display: inline-block;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 4px;
  text-align: center;
}
.blis-entity--match {
  background: #e0ffe0;
}
.blis-entity--mismatch {
  background: #ffe0e0;
}