:root {
    --color-warning: rgb(197, 31, 31);
    --color-custom-entity-bg-default: rgba(149, 228, 169, 0.4);
    --color-custom-entity-bg-hover: rgba(149, 228, 169, 0.6);
    --color-custom-entity-bg: rgba(149, 228, 169, 0.836);
    --color-custom-entity-label: rgb(42, 161, 68);
    --color-custom-entity-bracket: rgb(149, 228, 169);
    --color-prebuilt-entity-bg-default: rgba(149, 174, 228, 0.4);
    --color-prebuilt-entity-bg-hover: rgba(149, 174, 228, 0.6);
    --color-prebuilt-entity-bg: rgba(149, 174, 228, 0.836);
    --color-prebuilt-entity-label: rgb(72, 110, 192);
    --color-prebuilt-entity-hover: rgb(149, 174, 228);
}

.cl-entity-node {
    position: relative;
}

.cl-entity-node__text {
    display: inline-block;
    position: relative;
    border-radius: 3px;
    line-height: 1.7em;
}
.cl-entity-node--custom .cl-entity-node__text {
    background: var(--color-custom-entity-bg-default);
}
.cl-entity-node--custom .cl-entity-node__text:hover {
    background: var(--color-custom-entity-bg-hover);
}
.cl-entity-node--prebuilt .cl-entity-node__text {
    background: var(--color-prebuilt-entity-bg-default);
}
.cl-entity-node--prebuilt .cl-entity-node__text:hover {
    background: var(--color-prebuilt-entity-bg-hover);
}

.cl-entity-node--custom.cl-entity-node--is-editing .cl-entity-node__text {
    background: var(--color-custom-entity-bg);
}
.cl-entity-node--prebuilt.cl-entity-node--is-editing .cl-entity-node__text {
    background: var(--color-prebuilt-entity-bg);
}

.cl-entity-node-indicator {
    display: inline-block;
    position: absolute;
    width: 100%;
    line-height: 1em;
    font-size: 0.75rem;
    text-align: center;
    z-index: 1;
    bottom: calc(1.6em);
}

.cl-entity-node--custom .cl-entity-node-indicator {
    color: var(--color-custom-entity-label);
}
.cl-entity-node--prebuilt .cl-entity-node-indicator {
    color: var(--color-prebuilt-entity-label);
}

.cl-entity-node-indicator__mincontent {
    margin-bottom: 0.25em;
    white-space: nowrap;
}

.cl-entity-node-indicator__controls {
    margin-bottom: 2px;
}

.cl-entity-node-indicator__controls button {
    font-size: 0.75rem;
    padding: 0.0em 0.3em;
    margin: 0;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 50%;
    font-size: 0.75rem;
}
.cl-entity-node--read-only .cl-entity-node-indicator__controls button {
    cursor: default;
}

.cl-entity-node--custom .cl-entity-node-indicator__controls button {
    background: var(--color-warning);
}
.cl-entity-node--prebuilt .cl-entity-node-indicator__controls button {
    background: var(--color-warning);
}

.cl-entity-node-indicator__name {
    cursor: default;
}

.cl-entity-node-indicator__name button {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
.cl-entity-node--read-only .cl-entity-node-indicator__name button {
    cursor: default;
}

.cl-entity-node--custom .cl-entity-node-indicator__name,
.cl-entity-node--custom .cl-entity-node-indicator__name button {
    color: var(--color-custom-entity-label);
}
.cl-entity-node--custom .cl-entity-node-indicator__name button {
    background: white;
}
.cl-entity-node--prebuilt .cl-entity-node-indicator__name,
.cl-entity-node--prebuilt .cl-entity-node-indicator__name button {
    color: var(--color-prebuilt-entity-label);
}
.cl-entity-node--prebuilt .cl-entity-node-indicator__name button {
    background: white;
}

.cl-entity-node-indicator__bracket {
    height: 5px;
    border: 2px solid var(--color-custom-entity-bracket);
    border-bottom: none;
}

.cl-entity-node--custom .cl-entity-node-indicator__bracket {
    border-color: var(--color-custom-entity-bg);
}
.cl-entity-node--prebuilt .cl-entity-node-indicator__bracket {
    border-color: var(--color-prebuilt-entity-bg);
}