.cl-settings-textfieldwithbutton {
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-gap: 1em;
}

.cl-settings-fields {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 1em 0;
}

.cl-settings-header {
    color: black;
    padding: 1em 0;
    border-bottom: 1px solid rgba(0,0,0,0.25);
}

.cl-settings-container-header {
    font-weight: bold;
}