.cl-borderless-input {
    display: block;
    font-size: inherit;
    border: 1px solid transparent;
    padding: 0.125em 0.25em;
    outline: none;
}

.cl-borderless-input:hover {
    border-color: var(--color-neutralQuaternary);
}

.cl-borderless-input--active {
    border-color: var(--color-themeSecondary);
}