.extractorResponseBox{
    border-style: solid;
    border-width: 1px;
    border-color: #999999;
    padding: 10px;
    /* margin-bottom: 10px; */
}

.extractorResponseBoxInvalid{
    border-style: solid;
    border-width: 1px;
    border-color: #ff0000;
}
  
.extractDiv:hover{
    cursor: pointer
}
.extractContainer{
    display: inline-block;
}

.blisDropdown--command{
    color: var(--color-log);
    font-weight: bold;
} 
.blisDropdown--normal {
    color: #000000;
}