.cl-tags-readonly {
    clear: both;
}

.cl-tags-readonly__tag {
    float: left;
    margin-right: 0.5em;
    padding: 0 0.5em;
    background-color: var(--color-themeLight);
}

.cl-tags-readonly__clearfix {
    clear: both;
}