.cl-tags {
    display: flex;
    flex-wrap: wrap;
    margin: -5px 0 0 -5px;
}

.cl-tags i,
.cl-tags button {
    border: none;
    padding: 0;
    margin: 0
}

.cl-tags input {
    padding: 0;
    margin: 0;
    outline: none;
}

.cl-tags__tag {
    margin-top: 5px;
    margin-left: 5px;
    background-color: var(--color-themeLight);
    display: grid;
    grid-template: auto / auto min-content;
}
.cl-tags__tag > * {
    padding: 0 0.25em;
}
.cl-tags__tag button {
    background-color: inherit;
    padding: 0 0.25em;
    cursor: pointer;
}
.cl-tags__tag button:hover,
.cl-tags .cl-tags__button-add:hover {
    background-color: var(--color-themeTertiary);
}

.cl-tags .cl-tags__button-add {
    padding: 0 0.25rem;
    background-color: var(--color-themeLight);
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
}

.cl-tags__form {
    margin-top: 5px;
    margin-left: 5px;
}