.app{
  display: inline-block;
  width: 100%;
  height: 100%;
}
.header{
   height: 6.5%;
   width: 100%;
   background-color: #004b50;
}
.headerTitleDiv{
  height: 100%;
  width: 47%;
  display: inline-block;
}
.headerListDiv{
  height: 100%;
  width: 44%;
  margin-left: 8%;
  display: inline-block;
}
.headerLink{
  text-decoration: none;
  color: white;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.headerElementDiv{
  height: 100%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width:12%;
}
.headerTitle{
  height: 100%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 13%;
  margin-left: 60%;
}
.headerElementDiv:hover, .headerTitle:hover{ 
    background-color: #ffb900;
}
.headerElementDiv:hover *{ 
    color: black;
}
.headerTitle:hover *{ 
    color: black;
}
.dummyContent {
  height: 90%;
}
.dummyContent *{
  position: relative;
  float: left;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #004b50;
}
.trainingGroundNavigationArea{
  width: 20%;
  border: 1px solid gray;
  height:100%;
  display: inline-block;
  vertical-align: top;
}
.trainingGroundArena{
  width: 79%;
  height:100%;
  border: 1px solid red;
  display: inline-block;
  vertical-align: top;
}
.trainingGrounds{
  width: 100%;
  height: 93%;
}
.content{
  margin-left: 8%;
  margin-top: 2%;
}
.myAppsContentBlock{
  display: block;
  margin-bottom: 1%;
}
.goldButton:hover {
  border: 1px solid #004b50;
}
.goldButton{
  background-color: #ffb900 !important;
  color:black !important;
  padding: 0em 2em !important;
}
