body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Tahoma, Arial, sans-serif;
  font-size: 16px;
}

* {
  box-shadow: border;
  margin: 0;
  padding: 0;
}


a {
  text-decoration: none;
}
a:link,
a:visited {
  color: inherit
}

/** Modals */
.blis-modal {
  padding: 2em;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-gap: 1rem;
}
.blis-modal--large {
  width: 90vw;
  height: 80vh;
}
.blis-modal__header {
}
.blis-modal__footer {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  grid-gap: 1em;
}