.editor {
    border: 1px solid var(--color-neutralTertiary);
    cursor: text;
    padding: 0.125em 0.5em;
}
.editor:hover {
    border-color: var(--color-neutralDark);
}

/**
 * This isn't true BEM since the .editor Block is within the Modifier but
 * we can't easily change the structure of HTML and still want to preserve
 * the class name conventions
 */
.editor--error .editor,
.editor--error {
    border-color: var(--color-error);
}
.editor--active:not(.editor--error) .editor,
.editor--active:not(.editor--error) {
    border-color: var(--color-themePrimary);
}

.DraftEditor-root {
    line-height: 2em;
}

.draftJsMentionPlugin__mention__29BEd,
.draftJsMentionPlugin__mention__29BEd:visited {
    display: inline-block;
    background: var(--color-tag-highlight);
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 2px;
    text-decoration: none;
    border: 1px solid rgba(0,0,0,0.1);
    line-height: calc(2em - 6px);
}
  
.draftJsMentionPlugin__mention__29BEd:hover,
.draftJsMentionPlugin__mention__29BEd:focus {
    background: var(--color-tag-highlight);
    outline: 0; /* reset for :focus */
}

.draftJsMentionPlugin__mention__29BEd:active {
    background: #b6c4d3;
}
.draftJsMentionPlugin__mentionSuggestionsEntry__3mSwm {
    padding: 7px 10px 3px 10px;
    transition: background-color 0.4s cubic-bezier(.27,1.27,.48,.56);
}
  
.draftJsMentionPlugin__mentionSuggestionsEntry__3mSwm:active {
    background-color: #cce7ff;
}
  
.draftJsMentionPlugin__mentionSuggestionsEntryFocused__3LcTd {
    background-color: var(--color-tag-highlight);
}
  
.draftJsMentionPlugin__mentionSuggestionsEntryText__3Jobq {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 368px;
    /* font-size: 0.9em; */
    margin-bottom: 0.2em;
}

.draftJsMentionPlugin__mentionSuggestions__2DWjA {
    /* This margin is used to push content below cursor/text block in editor */
    margin-top: 1.75em;
    position: absolute;
    min-width: 220px;
    max-width: 440px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.3);
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 2;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    box-sizing: border-box;
    -webkit-transform: scale(0);
            transform: scale(0);
}
