.mention-node {
    border: 1px solid transparent;
    background: none;
    border-radius: 2px;
    padding: 0.125rem 0;
}

.mention-node--completed {
    border: 1px solid rgba(0,0,0,0.1);
    background: #c2daf0;
}