.cl-entity-creator-checkboxes {
    margin-top: 1em;
}

.cl-entity-creator-form {
    display: grid;
    grid-gap: 0.5em;
}

.cl-entity-creator__existing-conditions {
    display: grid;
    grid-template: auto / max-content max-content;
    grid-gap: 1em;
    align-content: center;
    align-items: center;
}

.cl-entity-creator__existing-condition {
    background-color: var(--color-neutralQuaternaryAlt);
    padding: 6px 10px;
}